[submodule "SfinderAiIntegration/sfinder-cpp"]
	path = SfinderAiIntegration/sfinder-cpp
	url = https://github.com/knewjade/sfinder-cpp.git
[submodule "SfinderAiIntegration/SfinderAiIntegration/sfinder-cpp"]
	path = SfinderAiIntegration/SfinderAiIntegration/sfinder-cpp
	url = https://github.com/knewjade/sfinder-cpp.git
